In [ ]:
리스트 안에 요소 하나 추가
-> append

a = [10, 20]
a.append(500)

>>> a = [10, 20, 500]


리스트 안에 리스트 추가
-> append

a.append([600, 745])

>>> a = [10, 20, 500, [600, 745]]

리스트 확장하기
-> extend

a.extend([3000, 2000])

>>> a = [10, 20, 500, [600, 745], 3000, 2000]

리스트에 추가 
-> insert

a.insert(0, 999)

>>> a = [999, 10, 20, 500, [600, 745], 3000, 2000]

In [ ]:
pop() = 리스트의 마지막 요소 삭제, 삭제한 요소 반환

pop(인덱스) = 해당 인덱스의 요소를 삭제

remove()  는 pop처럼 인덱스를 통해 삭제 대상을 가리키지 않고 특정 값을 기입해서 삭제함

만약 remove를 통해 가리킨 값이 리스트 안에 두 개 이상 중복된다면 앞쪽의 값을 삭제함.

In [7]:
# index로 특정 값의 인덱스 지정할 수 있음 

a = [10, 20, 30, 15, 20, 40]
a.index(30)

print(a.index(30))

# 30이 세 번째에 있으니까 = 인덱스 2에 있으니까 2 출력

2

In [ ]:
count 로 특정 값의 갯수를 구할 수 있다. 

a = [10, 20, 30, 15, 20, 40]
a.count(20)

>>> 2

20이 두 개 있으므로 2 나옴

In [ ]:
reverse()로 리스트의 순서를 뒤집을 수 있다. 

a = [10, 20, 30, 15, 20, 40]
a.reverse()

>>> a = [40, 20, 15, 30, 20, 10]

In [ ]:
sort()로 요소들을 작은 순서대로 정렬할 수 있다. 

a = [10, 20, 30, 15, 20, 40]

a.sort()

>>> a = [10, 15, 20, 20, 30, 40]

* sorted는 sort()와 기능이 똑같지만 새로운 리스트를 만들어줌

In [ ]:
clear()는 리스트 안의 모든 요소를 삭제해준다. 

a = [10, 20, 30]

a.clear()
>>> a = []

In [ ]:
del a[:] 

이것도 a.clear()과 똑같다.

In [ ]:
a = [10, 20, 30]

a[len(a):] = [500]

>>> a = [10, 20, 30, 500]

또는

a.append(500)

>>> a = [10, 20, 30, 500]

In [10]:
a = [10, 20, 30]

if len(a):
    print('true')
    
리스트가 비어있으면 false, 요소가 있으면 true

true

In [11]:
seq = [1, 2, 3, 4, 5, 6, 7, 8]

print(seq[-1])

# seq[-1] = 리스트의 마지막 요소를 가리킴, 그리고 리스트가 비어있는지 아닌지 확인하기 위해 seq[-1]을 
# 불러내서 없다고 뜨면 요소가 없는 것이고, 있으면 요소가 있다고 판별할 수도 있음

8

In [ ]:
리스트 할당 & 복사 

a = [1, 2, 3, 4, 5, 6]
b = a

이렇게 하면 리스트가 두 개 생기는 것이 아니라, 
[1, 2, 3, 4, 5, 6]이라는 리스트에 a와 b 두개의 변수가 할당된다. 

그래서 a is b 에 대해 TRUE 라고 나온다.

그래서 

b[2] = 99 라고 하면 

>>> a = [1, 2, 99, 4, 5, 6]

>>> b = [1, 2, 99, 4, 5, 6]

이렇게 뜬다.

In [12]:
차라리 a의 리스트를 b에다가 따로 복사하려면 이렇게 해야함.

a = [1, 2, 3, 4, 5, 6]

b = a.copy()


이러면 리스트도 두 개, 그리고 각각 다른 리스트에 a, b 변수가 하나씩 따로 할당된다. 

그럼, a = b 는 False가 뜬다.

그런데 리스트는 똑같으니까 

a == b 에서는 True가 뜬다.

SyntaxError: invalid syntax (2202014732.py, line 1)

In [ ]:
반복문으로 리스트의 요소들을 모두 출력할 수도 있다.

In [15]:
a = [38, 21, 53, 62, 19]

for i in a:
    print(i, end = ', ')

38, 21, 53, 62, 19,

In [16]:
a = [38, 21, 53, 62, 19]

for index, value in enumerate(a):
    print(index, value, end='/')

0 38/1 21/2 53/3 62/4 19/

In [23]:
a = [38, 21, 53, 62, 19]

for index, value in enumerate(a):
    print(index+1, value, sep = '//')

1//38
2//21
3//53
4//62
5//19

In [24]:
a = [38, 21, 53, 62, 19]

for bb, cc in enumerate(a, start = 1):
    print(bb, cc, sep = '//')

1//38
2//21
3//53
4//62
5//19

In [26]:
a = [38, 21, 53, 62, 19]

for bb, cc in enumerate(a, 99):
    print(bb, cc, sep = '//')

99//38
100//21
101//53
102//62
103//19

In [27]:
a = [38, 21, 53, 62, 19]

print(len(a))

5

In [2]:
a = [39, 21, 53, 62, 19]

smallest = a[0]
for i in a:
    if i < smallest:
        smallest = i
smallest

19

In [6]:
a = [36, 34, 37, 75, 65, 62, 83, 99]

a.sort()

a.sort(reverse=True)

print(a[0])

99

In [9]:
a = [36, 34, 37, 75, 65, 62, 83, 99]

sum(a)

491

In [ ]:
# 리스트 안에서 식, for 반복문, if 조건문 등을 지정하여 리스트를 생성하는 것을 리스트 컴프리헨션이라고 한다. 

# 리스트 컴프리헨션 = 식으로 지정해서 생성된 것을 리스트로 잡아둔다는 뜻.

In [12]:
a = [i for i in range(100)]

print(a, end = ', ')

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99],

In [13]:
b = [i*10 for i in range(100)]

print(b, end=' ')

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200, 210, 220, 230, 240, 250, 260, 270, 280, 290, 300, 310, 320, 330, 340, 350, 360, 370, 380, 390, 400, 410, 420, 430, 440, 450, 460, 470, 480, 490, 500, 510, 520, 530, 540, 550, 560, 570, 580, 590, 600, 610, 620, 630, 640, 650, 660, 670, 680, 690, 700, 710, 720, 730, 740, 750, 760, 770, 780, 790, 800, 810, 820, 830, 840, 850, 860, 870, 880, 890, 900, 910, 920, 930, 940, 950, 960, 970, 980, 990]

In [14]:
a = [i for i in range(10) if i % 2 == 0]

a

[0, 2, 4, 6, 8]

In [15]:
a = [i*44 for i in range(10) if i % 2 == 0]

a

[0, 88, 176, 264, 352]

In [19]:
a = [i*j for i in range(1, 10) for j in range(2, 10) ]

a

[2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 12,
 18,
 24,
 30,
 36,
 42,
 48,
 54,
 14,
 21,
 28,
 35,
 42,
 49,
 56,
 63,
 16,
 24,
 32,
 40,
 48,
 56,
 64,
 72,
 18,
 27,
 36,
 45,
 54,
 63,
 72,
 81]

In [23]:
a = [1.2, 2.5, 5.4, 7.6, 8.9]

a = list(map(int, a))

a

[1, 2, 5, 7, 8]

In [28]:
# split의 결과는 리스트이다.

a = input().split()


print(type(a))

10 20
<class 'list'>

In [29]:
a = [1, 2, 3, 4, 5, 6, 7, 8]

a.insert(len(a), 40)

a

[1, 2, 3, 4, 5, 6, 7, 8, 40]

In [30]:
a = [1, 2, 3, 4, 5, 6, 7, 8]

len(a)

8

In [32]:
a = [1, 2, 3, 4, 5, 6, 7, 8]

a[0:]

[1, 2, 3, 4, 5, 6, 7, 8]

In [34]:
a = [1, 2, 3, 4, 5, 6, 7, 8]

a[len(a):]

[]

In [37]:
a = [1, 2, 3, 4, 5, 6, 7, 8]

a[len(a):] = [40]

a

[1, 2, 3, 4, 5, 6, 7, 8, 40]

In [40]:
a = [1, 2, 3, 4, 5, 6, 7, 8]

a[-1:] = [40]

a

[1, 2, 3, 4, 5, 6, 7, 40]

In [41]:
a = [1, 2, 3, 4, 5, 6, 7, 8]

a[0]

1

In [44]:
a = [1, 2, 3, 4, 5, 6, 7, 8]

for i in a:
    print(a[i-1])

1
2
3
4
5
6
7
8

In [46]:
a = [i for i in range(20) if i <=3 or i>=17 ]

a

[0, 1, 2, 3, 17, 18, 19]

In [54]:
a = ['alpha', 'bravo', 'charlie', 'delta', 'echo', 'foxtrot', 'golf', 'hotel', 'india']

b = [i for i in a if len(i) == 5]

b

['alpha', 'bravo', 'delta', 'hotel', 'india']

In [2]:
# 22.10 심사문제


a = int(input('1 ~ 20 사이의 정수를 입력하시오. : '))
b = int(input('10 ~ 30 사이의 정수를 입력하시오.(b는 a 보다 커야합니다.): '))

c = [2 ** i for i in range(a, b+1)] 

print(c)
print(type(c))

1 ~ 20 사이의 정수를 입력하시오. : 10
10 ~ 30 사이의 정수를 입력하시오.(b는 a 보다 커야합니다.): 20
[1024, 2048, 4096, 8192, 16384, 32768, 65536, 131072, 262144, 524288, 1048576]
<class 'list'>