In [14]:
for i in range(1, 5):
    print('i: ', i, sep= ' ', end = ' ')
    for j in range(5):
        if j ==  4:
            print('j: ', j, '\n', sep = '')
        else:
             print('j: ', j, sep='', end=' ')

i:  1 j: 0 j: 1 j: 2 j: 3 j: 4

i:  2 j: 0 j: 1 j: 2 j: 3 j: 4

i:  3 j: 0 j: 1 j: 2 j: 3 j: 4

i:  4 j: 0 j: 1 j: 2 j: 3 j: 4

In [8]:
for i in range(5):
    for j in range(5):
        print('*', end = '')
    print()

*****
*****
*****
*****
*****

In [16]:
for i in range(10):
    for j in range(10):
        print('*', sep=' ', end = '')
    print()

**********
**********
**********
**********
**********
**********
**********
**********
**********
**********

In [3]:
for i in range(3):
    for j in range(5):
        print('+', end = '')
    print('끝')

+++++끝
+++++끝
+++++끝

In [4]:
for i in range(5):
    for j in range(5):
        if j <= i:
            print('*', end = '')
    print()

*
**
***
****
*****

In [6]:
for i in range(5):
    for j in range(5):
        if j == i:
            print('*', end='')
        else:
            print(' ', end='')
    print()

*
 *
  *
   *
    *

In [9]:
for i in range(5):
    for j in range(5):
        if i > j:
            print(' ', end = '')
        else:
            print('*', end = '')
    print()

*****
 ****
  ***
   **
    *

In [21]:
# 19.6 심사문제 - 첫 번째 트라이 - 실패

n = int(input('홀수만 입력하세요: '))

for i in range(n):
    for j in range(2*n-1):
        if j < n-1+i and j > n-1-i :
            print(' ', end = '')
        else:
            print('*', end = '')
    print()

홀수만 입력하세요: 5
*********
**** ****
***   ***
**     **
*       *

In [27]:
# 19.6 심사문제 - 두번째 트라이 - 실패 but 답에 근접

n = int(input('홀수만 입력하세요: '))

for i in range(n):
    for j in range(2*n-1):
        if j < n-1+i and j > n-1-i :
            print('*', end = '')
        else:
            print(' ', end = '')
    print()

홀수만 입력하세요: 5

    *
   ***
  *****
 *******

In [29]:
# 19.6 심사문제 - 세번째 트라이 - 성공

n = int(input('홀수만 입력하세요: '))

for i in range(n):
    for j in range(2*n-1):
        if j >= n-1-i and j <= n-1+i :
            print('*', end = '')
        else:
            print(' ', end = '')
    print()

홀수만 입력하세요: 5
    *
   ***
  *****
 *******
*********

In [30]:
for i in range (1, 101) :
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [32]:
for i in range(1, 101):
    if i % 3 == 0 and i % 5 == 0:
        print('FizzBuzz')
    
    elif i % 3 == 0:
        print('Fizz')
    elif i % 5 == 0:
        print('Buzz')
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [33]:
for i in range(1, 101):
    print('Fizz' * (i % 3 == 0) + 'Buzz' * (i % 5 == 0) or i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [35]:
# 20.8 심사문제 - 첫 트라이 - correct

a = int(input('1~1000 사이의 정수를 입력하시오: '))
b = int(input('10~1000 사이의 a보다 큰 정수를 입력하시오: '))

for i in range (a, b+1):
    if i % 5 == 0 and i % 7 == 0:
        print('FizzBuzz')
    elif i % 5 == 0:
        print('Fizz')
    elif i % 7 == 0:
        print('Buzz')
    else:
        print(i)

1~1000 사이의 정수를 입력하시오: 35
10~1000 사이의 a보다 큰 정수를 입력하시오: 40
FizzBuzz
36
37
38
39
Fizz

In [1]:
import turtle as t
t.shape('turtle')

for i in range(4):
    t.forward(100)
    t.right(90)

In [2]:
import turtle as t
t.shape('turtle')

for i in range(5):
    t.forward(100)
    t.right(360/5)

In [3]:
import turtle as t
t.shape('turtle')

for i in range(6):
    t.forward(100)
    t.right(360/6)

In [4]:
import turtle as t


n = int(input('만들고 싶은 정다각형의 변의 개수를 입력하시오.: '))
t.shape('turtle')

for i in range(n):
    t.forward(100)
    t.right(360/n)

만들고 싶은 정다각형의 변의 개수를 입력하시오.: 11

In [6]:
import turtle as t

t.shape('turtle')

t.circle(120)

In [1]:
import turtle as t

n = 60 
t.shape('turtle')
t.speed('fastest')

for i in range(n):
    t.circle(120)
    t.right(360/n)

In [2]:
import turtle as t

t.shape('turtle')
t.speed('fastest')
for i in range(300):
    t.forward(i)
    t.right(99)

In [1]:
#     t.rt(180-(180/n))
#     t.lt(360/n)

import turtle as t

n = 5
t.shape('turtle')
for i in range (n):
    t.forward(100)
    t.right(144)
    t.fd(100)
    t.lt(72)

In [1]:
# 21.6 심사문제 correct


a = int(input('꼭지점의 개수를 입력하시오.(5 ~ 10) : '))
b = int(input('선의 길이를 입력하시오.(50 ~ 150) : '))

import turtle as t

t.shape('turtle')
for i in range(a):
    t.fd(b)
    t.rt(180-(360/a))
    t.fd(b)
    t.lt(360/a)

꼭지점의 개수를 입력하시오.(5 ~ 10) : 6
선의 길이를 입력하시오.(50 ~ 150) : 100