In [11]:
# 파이썬코딩도장 25.8 심사문제

k = map(str, input().split())
v = map(int, input().split())

x = dict(zip(k, v))

del x['delta']

x = {key: value for key, value in x.items() if value != 30}


print(x)

alpha bravo charlie delta echo foxtrot golf
30 40 50 60 70 80 90
{'bravo': 40, 'charlie': 50, 'echo': 70, 'foxtrot': 80, 'golf': 90}

In [27]:
k = map(str, input().split())

v = map(int, input().split())

x = dict(zip(k, v))

del x['d']
x = {key: value for key, value in x.items() if value != 30}

print(x)

a b c d e
10 20 30 40 50
{'a': 10, 'b': 20, 'e': 50}

In [25]:
k = map(str, input().split())

v = map(int, input().split())

x = dict(zip(k, v))

x = {key: value for key value in x.items() if value != 30}

x.pop('delta')

print(x)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (662165357.py, line 7)

In [31]:
k = map(str, input().split())
v = map(int, input().split())

x = dict(zip(k, v))




x = {key: value for key, value in x.items() if value != 30}

x.pop('d')

print(x)

a b c d
10 20 30 40
{'a': 10, 'b': 20}

In [4]:
df = {'청광남', '염마인', '헐미', '녀남', '하드보이드', '염마인'}

'염마인' not in df

False

In [6]:
b = set('청광남남남남')

b

{'광', '남', '청'}

In [8]:
df = {'청광남', '염마인', '헐미', '녀남', '하드보이드', '염마인'}

df2 = {'귀신망상', '피먹는괴물'}

set.union(df, df2)

{'귀신망상', '녀남', '염마인', '청광남', '피먹는괴물', '하드보이드', '헐미'}

In [17]:
df = {'청광남', '염마인', '헐미', '녀남'}
sf = {'헐미', '녀남', '하드보이드'}

set.symmetric_difference(df, sf)

{'염마인', '청광남', '하드보이드'}

In [19]:
df = {'청광남', '염마인', '헐미', '녀남'}
sf = {'헐미', '녀남', '하드보이드'}

df.difference_update({'염마인'})

df

{'녀남', '청광남', '헐미'}

In [21]:
df3 = {'청광남', '염마인', '헐미', '녀남'}

df = {'청광남', '염마인', '헐미', '녀남', '하드보이드', '염마인'}

df3.issubset(df)

True

In [22]:
df3 = {'청광남', '염마인', '헐미', '녀남'}

df = {'청광남', '염마인', '헐미', '녀남', '하드보이드', '염마인'}

df3 < df

True

In [27]:
df = {'청광남', '염마인', '헐미', '녀남', '하드보이드', '염마인'}
df2 = {'청광남', '염마인', '헐미', '녀남', '하드보이드', '염마인'}

df.issuperset(df2)

True

In [29]:
df = {'청광남', '염마인', '헐미', '녀남', '하드보이드', '염마인'}
df2 = {'청광남', '염마인', '헐미', '녀남', '하드보이드', '염마인'}

df >= df2

True

In [30]:
a = {1, 2, 3, 4}

a.add(5)

a

{1, 2, 3, 4, 5}

In [31]:
df = {'청광남', '염마인', '헐미', '녀남', '하드보이드', '염마인'}

df.add('나나나')

df

{'나나나', '녀남', '염마인', '청광남', '하드보이드', '헐미'}

In [7]:
df = {'청광남', '염마인', '헐미', '녀남', '하드보이드', '염마인'}


sf= df.copy()


sf.add('곶감')

sf == df

False

In [8]:
a = {1, 2, 3, 4}

for i in a:
    print(i)

1
2
3
4

In [10]:
df = {'청광남', '염마인', '헐미', '녀남', '하드보이드', '염마인'}

for z in df:
    print(z)

녀남
하드보이드
헐미
청광남
염마인

In [13]:
a = set(i for i in 'apple' if i != 'l')

a

{'a', 'e', 'p'}

In [14]:
df = {'청광남', '염마인', '헐미', '녀남', '하드보이드', '염마인'}

i for i in df if i != '청광남' or i != '하드보이드'

SyntaxError: invalid syntax (1793444926.py, line 3)

In [25]:
a = {i for i in range(10) if i != 2 or i != 7}

a

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [27]:
a = {i for i in range(1, 100) if i % 3 == 0}

b = {j for j in range(1, 101) if j % 5 == 0}

print(a&b)

{75, 45, 15, 90, 60, 30}

In [28]:
# 26.9 심사문제

n1, n2 = map(int, input().split())


a = set(i for i in range(1, n1+1) if n1 % i == 0)
b = set(j for j in range(1, n2+1) if n2 % j == 0)

divisor = a&b

result = 0
if type(divisor) == set:
    result = sum(divisor)
    
print(result)

100 200
217