In [4]:
# 16 산술연산다, 덧셈, 뺄셈

num1 = 3.14
num2 = 0.12

print('%.2f' % (num1+num2))

3.26

In [11]:
str1 = "안녕"
str2 = "오늘의 날씨는"
str3 = "맑네."

result = str1 + str2 + str3

print('멘트1 {}'.format(result))

print(f'멘트1 {result}')

print('멘트1 {2}{1}{0}'.format(str3, str2, str1))

멘트1 안녕오늘의 날씨는맑네.
멘트1 안녕오늘의 날씨는맑네.
멘트1 안녕오늘의 날씨는맑네.

In [19]:
kor = float(input('국어 점수를 입력하시오 : '))
eng = float(input('영어 점수를 입력하시오 : '))
mat = float(input('수학 점수를 입력하시오 : '))

total = kor + eng+mat
avg = total / 3

print('국어 점수 : {}'.format (kor))
print('영어 점수 : {}'.format (eng))
print('수학 점수 : {}'.format (mat))
print('합계 : {}'.format(total))

print('평균 : {}' .format(total / 3))
print(f'평균 : {total / 3}')

print('평균 : %d ' % (total/3))
print('평균 : %.2f ' % (total/3))

print('평균 : {0}' .format(total / 3))

국어 점수 : 88.66
영어 점수 : 55.3
수학 점수 : 99.9
합계 : 243.85999999999999
평균 : 81.28666666666666
평균 : 81.28666666666666
평균 : 81
평균 : 81.29
평균 : 81.28666666666666

In [13]:
partTimeMoney = int(input('알바비 : '))
cardMoney = int(input('카드값 : '))
result = partTimeMoney - cardMoney

print('알바비 : {}' .format(partTimeMoney))
print('카드값 : {}' .format(cardMoney))
print('남은 돈 : {}' .format(result))

알바비 : 700000
카드값 : 325600
남은 돈 : 374400

In [14]:
str = 'Hi'
result = str * 5

print('result : {}'.format(result))

result : HiHiHiHiHi

In [17]:
num1 = 10
num2 =3

result = num1 / num2
print('result : {}'.format(result))
print('result : %.2f' % (result))

result : 3.3333333333333335
result : 3.33

In [20]:
num1 = 10
num2 = 3

result = num1 % num2
print(result)

1

In [23]:
result = num1 // num2
print(result)

3

In [25]:
result = divmod(num1, num2)

print('result: {}' .format(result))
print('몫: {}' .format(result[0]))
print('나머지: {}' .format(result[1]))

result: (3, 1)
몫: 3
나머지: 1

In [29]:
allStuCnt = int(input('모든 학생 수 입력하세요 : '))
stuCntOfGroup = int(input('한 모둠 학생 수'))

groupCnt = allStuCnt // stuCntOfGroup
overStuCnt = allStuCnt % stuCntOfGroup

result = divmod(allStuCnt, stuCntOfGroup)

print('전체 학생 수 : {}'.format(allStuCnt))
print('한 모둠 학생 수 : {}' .format(stuCntOfGroup))

print("모둠 수 : {}" .format(groupCnt))
print("남는 학생 수 : {}" .format(overStuCnt))


print('전체 학생 수 : {}'.format(allStuCnt))
print('한 모둠 학생 수 : {}' .format(stuCntOfGroup))

print("모둠 수 : {}" .format(result[0]))
print("남는 학생 수 : {}" .format(result[1]))


print('전체 학생 수 : %d' % (allStuCnt))
print('한 모둠 학생 수 : %d ' % (stuCntOfGroup))

print("모둠 수 : %d " % (groupCnt))
print("남는 학생 수 : %d " % (overStuCnt))

전체 학생 수 : 25
한 모둠 학생 수 : 4
모둠 수 : 6
남는 학생 수 : 1
전체 학생 수 : 25
한 모둠 학생 수 : 4
모둠 수 : 6
남는 학생 수 : 1
전체 학생 수 : 25
한 모둠 학생 수 : 4
모둠 수 : 6
남는 학생 수 : 1

In [30]:
employee = 123
apple = 4

result = divmod(employee, apple)

print('사과를 나누어 줄 수 있는 최대 직원 수 : {} 명' .format(result[0]))
print('남는 사과 개수 : {} 개' .format(result[1]))

사과를 나누어 줄 수 있는 최대 직원 수 : 30 명
남는 사과 개수 : 3 개

In [31]:
num1 = 2
num2 = 3
result = num1 ** num2
print('result : {}' .format(result))

result : 8

In [34]:
# 제곱근  -> n **(1/m)

result = 2 ** (1/4)

print('%.5f' % (result))

1.18921

In [38]:
# math 모듈의 sqrt()와 pow() 함수   pow 는 제곱 sqrt 는 제곱근(only 2 제곱근만 가능)

import math

print('%.2f' % math.sqrt(5))  # 항상 2의 제곱근만 구함, 그래서 매개 변수는 하나만 있으면 됨.

print(math.pow(5,8))

2.24
390625.0

In [39]:
import math

firstMoney = 200

after12MonthMoney = math.pow(firstMoney, 2)

print(after12MonthMoney)

40000.0

In [44]:
firstMoney = 200 

after12MonthMoney = ((firstMoney * 0.01) ** 12) * 100

print(after12MonthMoney)

after12MonthMoney = int(after12MonthMoney)

strResult = format(after12MonthMoney, ',')

print(strResult, '원')

409600.0
409,600 원

In [47]:
num1 = 10
num1 -= 7
print("num : {}" .format(num1))

num : 3

In [48]:
num1 = 10
num1 += 7
print("num : {}" .format(num1))

num : 17

In [49]:
num1 = 10
num1 *= 7
print("num : {}" .format(num1))

num : 70

In [50]:
num1 = 10
num1 /= 7
print("num : {}" .format(num1))

num : 1.4285714285714286

In [51]:
num1 = 10
num1 %= 7
print("num : {}" .format(num1))

num : 3

In [52]:
num1 = 10
num1 //= 7
print("num : {}" .format(num1))

num : 1

In [53]:
num1 = 10
num1 **= 7
print("num : {}" .format(num1))

num : 10000000

In [ ]:
1월 = 30
2월 = 75
3월 = 122
4월 = 177
5월 = 242
6월 = 342
7월 = 470
8월 = 679
9월 = 838

In [57]:
rainAmount = 0
totalRainAmount = 0

totalRainAmount += 30
print('1월 누적 강수량: {}' .format(totalRainAmount))

totalRainAmount += 45
print('2월 누적 강수량: {}' .format(totalRainAmount))

totalRainAmount += 47
print('3월 누적 강수량: {}' .format(totalRainAmount))

totalRainAmount += 55
print('4월 누적 강수량: {}' .format(totalRainAmount))

totalRainAmount += 65
print('5월 누적 강수량: {}' .format(totalRainAmount))

totalRainAmount += 100
print('6월 누적 강수량: {}' .format(totalRainAmount))

totalRainAmount += 128
print('7월 누적 강수량: {}' .format(totalRainAmount))

totalRainAmount += 209
print('8월 누적 강수량: {}' .format(totalRainAmount))

totalRainAmount += 204
print('9월 누적 강수량: {}' .format(totalRainAmount))

totalRainAmount += 186
print('10월 누적 강수량: {}' .format(totalRainAmount))

totalRainAmount += 67
print('11월 누적 강수량: {}' .format(totalRainAmount))

totalRainAmount += 25
print('12월 누적 강수량: {}' .format(format(totalRainAmount, ',')))

print('-' * 30)
print('연간 누적 강수량 : {} mm' .format(totalRainAmount))
print('평균 강수량 : {}' .format(totalRainAmount / 12))
print('-' * 30)

1월 누적 강수량: 30
2월 누적 강수량: 75
3월 누적 강수량: 122
4월 누적 강수량: 177
5월 누적 강수량: 242
6월 누적 강수량: 342
7월 누적 강수량: 470
8월 누적 강수량: 679
9월 누적 강수량: 883
10월 누적 강수량: 1069
11월 누적 강수량: 1136
12월 누적 강수량: 1,161
------------------------------
연간 누적 강수량 : 1161 mm
평균 강수량 : 96.75
------------------------------