In [4]:
# 30강 ~

carDisplacement = int(input('자동차 배기량 입력 : '))

if carDisplacement >= 5000:
    print('세금 : {0:,}원' .format(600000))
elif carDisplacement >= 4000:
    print('세금 : {0:,}원' .format(500000))
elif carDisplacement >= 3000:
    print('세금 : {0:,}원' .format(400000))
elif carDisplacement >= 2000:
    print('세금 : {0:,}원' .format(300000))
elif carDisplacement >= 1000:
    print('세금 : {0:,}원' .format(200000))
else :
    print('세금 : {0:,}원' .format(100000))

세금 : 100,000원

In [6]:
examScore = int(input('시험 점수 : '))

if examScore < 60:
    print('재시험 대상입니다.')
else :
    if examScore >= 90:
        print('A')
    elif examScore >= 80:
        print('B')
    elif examScore >= 80:
        print('C')
    elif examScore >= 80:
        print('D')

A

In [7]:
commuter = int(input('1 = Yes \t2 = No. : '))

if commuter ==1 :
    print('교통 수단을 선택하세요')
    trans = int(input('1 = 도보, 자전거 \t 2. 버스, 지하철 \t 3. 자가용'))
    if trans ==1:
        print('세금 감면 5%')
    if trans ==2:
        print('세금감면 3%')
    if trans ==3:
        print('추가 세금 1%')
else:
    print('세금 변동 없음')

교통 수단을 선택하세요
세금감면 3%

In [10]:
# 32 반복문
# 33 횟수에 의한 반복


for i in range(7):
    print('Hello')
    print(i)


for i in range(10):
    result = 7*i
    print('{} * {} = {}' .format(7, i, result))

Hello
0
Hello
1
Hello
2
Hello
3
Hello
4
Hello
5
Hello
6
7 * 0 = 0
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

In [12]:
for k in range(100):
    pass

for h in range(5):
    print('Hi', end = ' ')
    print('loop statement')

Hi loop statement
Hi loop statement
Hi loop statement
Hi loop statement
Hi loop statement

In [13]:
for k in range(5):
    print('Hello Python')

Hello Python
Hello Python
Hello Python
Hello Python
Hello Python

In [15]:
num = int(input('몇 단을 원하십니까 : '))

for i in range(1, 10):
    print('{} * {} = {}' .format(num, i, num * i))

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

In [17]:
# 34강 range(시작, 끝+1, 몇 개씩 증가)

startNum = int(input('반복의 시작 숫자 : '))
endNum = int(input('반복의 끝 숫자 : '))

for i in range(startNum, (endNum+1), 2):
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66

In [20]:
# 조건에 의한 반복 = while 문 / 35강

endNum = 10

n = 0

while n <= endNum:
    print(n)
    # n = n + 1
    n += 1

0
1
2
3
4
5
6
7
8
9
10

In [22]:
n = 1
while n < 10:
    result = 7 * n
    print('7 * {} = {}' .format(n, result))
    n += 1

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

In [23]:
n = 0
while n < 10:
    print('Hello')
    print('Hi')
    n += 1

Hello
Hi
Hello
Hi
Hello
Hi
Hello
Hi
Hello
Hi
Hello
Hi
Hello
Hi
Hello
Hi
Hello
Hi
Hello
Hi

In [24]:
# 1~100 정수 중 2의 배수와 3의 배수 구분해서 출력

n = 1

while n < 101:
    if n % 2 == 0:
        print('{} 은 2의 배수이다.' .format(n))
    if n % 3 == 0:
        print('{} 은 3의 배수이다.' .format(n))
    n += 1

2 은 2의 배수이다.
3 은 3의 배수이다.
4 은 2의 배수이다.
6 은 2의 배수이다.
6 은 3의 배수이다.
8 은 2의 배수이다.
9 은 3의 배수이다.
10 은 2의 배수이다.
12 은 2의 배수이다.
12 은 3의 배수이다.
14 은 2의 배수이다.
15 은 3의 배수이다.
16 은 2의 배수이다.
18 은 2의 배수이다.
18 은 3의 배수이다.
20 은 2의 배수이다.
21 은 3의 배수이다.
22 은 2의 배수이다.
24 은 2의 배수이다.
24 은 3의 배수이다.
26 은 2의 배수이다.
27 은 3의 배수이다.
28 은 2의 배수이다.
30 은 2의 배수이다.
30 은 3의 배수이다.
32 은 2의 배수이다.
33 은 3의 배수이다.
34 은 2의 배수이다.
36 은 2의 배수이다.
36 은 3의 배수이다.
38 은 2의 배수이다.
39 은 3의 배수이다.
40 은 2의 배수이다.
42 은 2의 배수이다.
42 은 3의 배수이다.
44 은 2의 배수이다.
45 은 3의 배수이다.
46 은 2의 배수이다.
48 은 2의 배수이다.
48 은 3의 배수이다.
50 은 2의 배수이다.
51 은 3의 배수이다.
52 은 2의 배수이다.
54 은 2의 배수이다.
54 은 3의 배수이다.
56 은 2의 배수이다.
57 은 3의 배수이다.
58 은 2의 배수이다.
60 은 2의 배수이다.
60 은 3의 배수이다.
62 은 2의 배수이다.
63 은 3의 배수이다.
64 은 2의 배수이다.
66 은 2의 배수이다.
66 은 3의 배수이다.
68 은 2의 배수이다.
69 은 3의 배수이다.
70 은 2의 배수이다.
72 은 2의 배수이다.
72 은 3의 배수이다.
74 은 2의 배수이다.
75 은 3의 배수이다.
76 은 2의 배수이다.
78 은 2의 배수이다.
78 은 3의 배수이다.
80 은 2의 배수이다.
81 은 3의 배수이다.
82 은 2의 배수이다.
84 은 2의 배수이다.
84 은 3의 배수이다.
86 은 2의 배수이다.
87 은 3의 배수이다.
88 은 2의 배수이다.
90 은 2의 배수이다.
90 은 3의 배수이다.
92 은 2의 배수이다.
93 은 3의 배수이다.
94 은 2의 배수이다.
96 은 2의 배수이다.
96 은 3의 배수이다.
98 은 2의 배수이다.
99 은 3의 배수이다.
100 은 2의 배수이다.

In [25]:
gugu = int(input('몇 단의 구구단을 알고 싶으신가요? : '))

n = 1
while n < 10:
    result = gugu * n
    print('{} * {} = {}' .format(gugu, n, result))
    n += 1

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [26]:
# 36 for 문 while 문 비교

sum = 0

for i in range(1, 11):
    sum += i

print('sum : {}' .format(sum))

sum : 55

In [27]:
sum = 0

n = 1
while n < 11:
    sum += n
    n += 1

print('sum : {}' .format(sum))

sum : 55

In [28]:
sum = 0
maxInt = 0
for i in range(1, 101):
    if i % 7 == 0 and sum <= 50:
        sum += i
        maxInt = i
    print('i : {}' .format(i))

print('7의 배수의 합이 50이상인 최초의 정수 : {}' .format(maxInt))

i : 1
i : 2
i : 3
i : 4
i : 5
i : 6
i : 7
i : 8
i : 9
i : 10
i : 11
i : 12
i : 13
i : 14
i : 15
i : 16
i : 17
i : 18
i : 19
i : 20
i : 21
i : 22
i : 23
i : 24
i : 25
i : 26
i : 27
i : 28
i : 29
i : 30
i : 31
i : 32
i : 33
i : 34
i : 35
i : 36
i : 37
i : 38
i : 39
i : 40
i : 41
i : 42
i : 43
i : 44
i : 45
i : 46
i : 47
i : 48
i : 49
i : 50
i : 51
i : 52
i : 53
i : 54
i : 55
i : 56
i : 57
i : 58
i : 59
i : 60
i : 61
i : 62
i : 63
i : 64
i : 65
i : 66
i : 67
i : 68
i : 69
i : 70
i : 71
i : 72
i : 73
i : 74
i : 75
i : 76
i : 77
i : 78
i : 79
i : 80
i : 81
i : 82
i : 83
i : 84
i : 85
i : 86
i : 87
i : 88
i : 89
i : 90
i : 91
i : 92
i : 93
i : 94
i : 95
i : 96
i : 97
i : 98
i : 99
i : 100
7의 배수의 합이 50이상인 최초의 정수 : 28

In [29]:
sum = 0
maxInt = 0
n =1
while n < 101 and sum <= 50:
    n += 1
    if n % 7 == 0:
        sum += n
        maxInt = n

    print('n : {}'.format(n))

print('7의 배수의 합이 50이상인 최초의 정수 : {}' .format(maxInt))

n : 2
n : 3
n : 4
n : 5
n : 6
n : 7
n : 8
n : 9
n : 10
n : 11
n : 12
n : 13
n : 14
n : 15
n : 16
n : 17
n : 18
n : 19
n : 20
n : 21
n : 22
n : 23
n : 24
n : 25
n : 26
n : 27
n : 28
7의 배수의 합이 50이상인 최초의 정수 : 28

In [30]:
currentThickness = 30
rotationCount = 0
removeThickness = 0.15

while currentThickness >= 20:
    rotationCount += 1
    currentThickness -= removeThickness

safeRotationCount = rotationCount - 1

print('운행 가능 횟수 : {}' .format(safeRotationCount))

운행 가능 횟수 : 66