In [2]:
number = 20

print(number)
print(number)
print(number)
print(number)

20
20
20
20

In [ ]:
name = 'Kim Jitae'
age = 27
address = 'Korea'
phone = '010-3231-5648'
mail_addr = '0111danye@gmail.com'
to_do_list_230315 = '제로베이스파이썬공부, 제로베이스엑셀공부, 파이썬코딩도장, 조깅, 백준코딩문제, 자소서쓰기'
초코렛 = '2000원'
인상깊었던일 = '리아'

07 변수를 사용하는 이유

In [3]:
print('hello')

intro = 'hello'

print(intro)

hello
hello

In [5]:
a = 10
b = 5

print(a + b)
print(a-b)
print(a/b)
print(a*b)

15
5
2.0
50

In [7]:
name = '김지태'


print(name, '님께')
print(name,'님, 안녕하세요')
print(name,'님께서 접수하신 AS 건에 대해서 연락을 드렸으나, 연락이 어려워 메일 드립니다.')
print('A/S 접수 내용')
print('-------------')
print('성함: ', name)
print('내용: 에어컨 고장')

김지태 님께
김지태 님, 안녕하세요
김지태 님께서 접수하신 AS 건에 대해서 연락을 드렸으나, 연락이 어려워 메일 드립니다.
A/S 접수 내용
-------------
성함:  김지태
내용: 에어컨 고장

In [8]:
midTermExamScore_Math = 96
print(midTermExamScore_Math)

96

In [9]:
width = 49
height = 99

print(width * height)

4851

In [ ]:
num = 222222222222222222222222222222222222222222222222222222222222222222222222222
print(num)

In [10]:
num1 = 10.222

print(type(num1))

<class 'float'>

In [14]:
num1 = '3.222'

print(type(num1))

<class 'str'>

In [ ]:
score = 100
pi = 3.14
wantGo = '캐나다'

adult = True

In [17]:
fNum = 3.14
fNum2 = 0.123

print(fNum + fNum2)
print(type(fNum))

fNum = str(fNum)
fNum2 = str(fNum2)
print(type(fNum))

3.263
<class 'float'>
<class 'str'>

여러 줄 주석 '''ㅁㄴㅇㅁㄴㅇㅁㄴㅇ'''