In [9]:
var = False

print(var)

print(type(var))


var = float(var)
print(var)
print(type(var))

False
<class 'bool'>
0.0
<class 'float'>

In [11]:
str1 = '10'
str2 = '20'

print(str1 + str2)

str1 = 10
str2 = 20

print(str1 + str2)

print(float(str1 + str2))

1020
30
30.0

In [12]:
str1 = '3.14'
str2 = '1592'

print(str1 + str2)

str1 = 3.14
str2 = 1592
print(str1 + str2)

3.141592
1595.14

In [13]:
# 빈문자 '' -> 데이터 없음
# 공백 문자 ' ' -> 공백 데이터 있음

# 빈 문자 -> 논리형으로 바꾸면 false가 뜸

var = ''
print(var)
print(type(var))

var = bool(var)
print(var)
print(type(var))

# 공백 문자 -> 논리형으로 바꾸면 True가 뜸

var2 = '  '
print(var2)
print(type(var2))

var2 = bool(var2)
print(var2)
print(type(var2))


# 빈문자와 공백 문자 눈으로 보기에는 차이가 별로 없지만 사실 차이가 있다. 데이타 있고 없고의 차이. 논리형으로 변환하면 값이 다름.

<class 'str'>
False
<class 'bool'>

<class 'str'>
True
<class 'bool'>

In [15]:
# 문자 -> 논리

var1 = 'True'
var2 = 'False'
print(var1)
print(var2)
print(type(var1))
print(type(var2))

var1 = bool(var1)
var2 = bool(var2)

print(var1)   # 아예 비어있는 빈 문자는 false가 나오지만, 데이터가 있으면 True
print(var2)
print(type(var1))
print(type(var2))

print(int(var1 + var2))   # -> 논리형은 산술 연산, 덧셈 연산이 가능하다. True는 1과 같다. 
print(float(var1 + var2))

True
False
<class 'str'>
<class 'str'>
True
True
<class 'bool'>
<class 'bool'>
2
2.0

In [16]:
var1 = 'True'
var2 = 'False'

var1 = bool(var1)
var2 = bool(var2)

print(var1 + var2)
print(var1 - var2)
print(var1 * var2)
print(var1 / var2)

2
0
1
1.0

In [17]:
# 13 데이터 입력 / input() 함수를 통한 데이터 입력

print('키보드를 통해서 데이터를 입력하세요.')

userInputData = input()

print(userInputData)

키보드를 통해서 데이터를 입력하세요.
나나나나나

In [25]:


userInputData = input('키보드를 통해서 데이터를 입력하세요.')

print(userInputData)

print(type(userInputData))

# input 에 입력된 모든 것은 문자형 str 이다.

True
<class 'str'>

In [ ]:
userInputData = int(input('입력: '))

print(userInputData)
print(type(userInputData))

In [ ]:
# 실습

weather = input("오늘의 날씨를 입력하세요. : ")

print(weather)
print(type(weather))

In [ ]:
userName = input("put your name here.")

print(userName)
print(type(userName))

In [42]:
a = float(input("가로 길이를 입력하시오."))
b = float(input("세로 길이를 입력하시오."))

# print(float(a) * float(b)) -> a와 b를 숫자형으로 안바꿨을 때

print(f'가로의 길이: {a}, 세로의 길이: {b}, 사각형 넓이: {a * b}')
print(f'가로의 길이: {a}, 세로의 길이: {b}, 삼각형 넓이: {a * b / 2}')

가로의 길이: 55.2323, 세로의 길이: 54.11212, 사각형 넓이: 2988.736845476
가로의 길이: 55.2323, 세로의 길이: 54.11212, 삼각형 넓이: 1494.368422738

In [45]:
userName = '염마인'
print(userName)

userAge = 20
print(userAge)

print("User name :", userName)   # f붙이고 작은 따옴표 처음부터 끝까지, 그리고 변수에다가 중괄호 
print(f'User name : {userName}')

print("User age :", userAge)
print(f'User age : {userAge}')

print(f'User name : {userName}, User age : {userAge}')
print(f'User name : \t{userName}, \nUser age : \t{userAge}')
print("=================================")
print('User name : {}, User age : {}'.format(userName, userAge))
print('User name : {}' .format(userName))
print('User age : {}' .format(userAge))


print('User name : {1}, User age : {0}' .format(userAge, userName))

염마인
20
User name : 염마인
User name : 염마인
User age : 20
User age : 20
User name : 염마인, User age : 20
User name : 	염마인,
User age : 	20
=================================
User name : 염마인, User age : 20
User name : 염마인
User age : 20
User name : 염마인, User age : 20

In [33]:
# \n 자동 기행

print("3 * 5 = ")
print(15)

print("3 * 5 = ", end ='')
print(15)

3 * 5 =
15
3 * 5 = 15

In [ ]:
# 특수 문자

# \t = 탭
# \n = 개행

In [46]:
print('나의 이름은 {0}이고, 나이는 {1}살입니다. {0}라는 이름은 제 3자가 지어주었습니다.' .format(userName, userAge))

나의 이름은 염마인이고, 나이는 20살입니다. 염마인라는 이름은 제 3자가 지어주었습니다.

In [52]:
# %s -> 문자열
# %d -> 정수
# %f -> 실수

print('User name = %s' % userName)

print('User age = %d' % userAge)

print('User name = %s, User age = %d' % (userName, userAge))

pi = 3.14

print('pi : %f' % pi)
print('pi : %.3f' % pi)

print('pi : %d' % pi)

User name = 염마인
User age = 20
User name = 염마인, User age = 20
pi : 3.140000
pi : 3.140
pi : 3

In [55]:
radius = float(input('반지름 입력 : '))
pi = float(input('원주율 입력 : '))

print('radius : %.1f' % radius)
print('pi : %f' % pi)

print('radius : %.1f, pi : %f' % (radius, pi))
print('radius : %.6f, pi : %f' % (radius, pi))
print('radius : %.2f, pi : %.2f' % (radius, pi))

print("============================================")

print('원의 넓이 : {}, 원의 둘레 : {}' .format(radius*radius*pi, radius*2*pi))

radius : 3.0
pi : 3.141592
radius : 3.0, pi : 3.141592
radius : 3.000000, pi : 3.141592
radius : 3.00, pi : 3.14
============================================
원의 넓이 : 28.274328, 원의 둘레 : 18.849552000000003