In [5]:
# 035 문자열 출력 -> 틀림 / 다시 보기
# 변수에 다음과 같이 문자열과 정수가 바인딩되어 있을 때 
# % formatting을 사용해서 다음과 같이 출력해보세요.

name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

name4444 = "김지태"
age4444 = 111


# 이름: 김민수 나이: 10
# 이름: 이철희 나이: 13

# 정답확인
# print 포맷팅에서 `%s`는 문자열 데이터 
# 타입의 값을 `%d`는 정수형 데이터 타입 값의 출력을 의미합니다.

# print("이름: %s 나이: %d" % (name1, age1))
# print("이름: %s 나이: %d" % (name2, age2))

print("이름: %s 나이: %d" %(name1, age1))
print("이름: %s 나이: %d" %(name2, age2))

print("이름: %s 나이: %d" %(name4444, age4444))

print("이름: %s 나이: %d" %(name4444, age4444))

이름: 김민수 나이: 10
이름: 이철희 나이: 13
이름: 김지태 나이: 111
이름: 김지태 나이: 111

In [2]:
# 036 문자열 출력 -> 틀림 / 다시 보기 / 이건 실현 과정 설명 들어야 함.
# 문자열의 format( ) 메서드를 사용해서 035번 문제를 다시 풀어보세요.

# 정답확인
# 문자열의 포맷 메서드는 타입과 상관없이 값이 
# 출력될 위치에 `{ }`를 적어주면 됩니다.

name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print("이름: {} 나이: {}".format(name1, age1))
print("이름: {} 나이: {}".format(name2, age2))

print("이름: {} 나이: {}".format(name1, age1))
print("이름: {} 나이: {}".format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13
이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [ ]:
# 037 문자열 출력 -> 틀림 / 다시 보기 실행 과정 필수
# 파이썬 3.6부터 지원하는 f-string을 사용해서 
# 035번 문제를 다시 풀어보세요.

name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13


# 정답확인
# f-string은 문자열 앞에 f가 붙은 형태입니다. 
# f-string을 사용하면 `{변수}`와 같은 형태로 
# 문자열 사이에 타입과 상관없이 값을 출력할 수 있습니다.

print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")

In [7]:
# 038 컴마 제거하기 -> 틀림 / 다시 보기
# 삼성전자의 상장주식수가 다음과 같습니다. 
# 컴마를 제거한 후 이를 정수 타입으로 변환해보세요.

상장주식수 = "5,969,782,550"

컴마제거 = 상장주식수.replace(",", "")

정수타입 = int(컴마제거)

print(정수타입, type(정수타입))

5969782550 <class 'int'>

In [10]:
# 039 문자열 슬라이싱
# 다음과 같은 문자열에서 '2020/03'만 출력하세요.

분기 = "2020/03(E) (IFRS연결)"

요약 = 분기.replace("(E) (IFRS연결)", "")

print(요약)

print(분기[:7])

2020/03
2020/03

In [11]:
# 040 strip 메서드 / 답은 맞았는데 
# 문자열의 좌우의 공백이 있을 때 이를 제거해보세요.

data = "   삼성전자    "

공백없음 = data.replace(" ", "")

print(공백없음)


# 정답확인
# 문자열에서 strip( ) 메서드를 사용하면 
# 좌우의 공백을 제거할 수 있습니다. 
# 이때 원본 문자열은 그대로 유지되고 
# 공백이 제거된 새로운 문자열이 반환됩니다.
# data = "   삼성전자    "
# data1 = data.strip()
# print(data1)

삼성전자