In [19]:
# 초보자를 위한 파이썬 300제

In [12]:
## 01. 파이썬 시작하기 001~010

In [14]:
### 001 화면에  Hello World 문자열을 출력하세요.

print ("Hello World")

Hello World

In [15]:
### 005 다음 코드를 실행해보고 \t와 \n의 역할을 설명해보세요.

print("안녕하세요.\n만나서\t\t반갑습니다.")

#### \n 은 줄을 바꿔주고 \t는 탭 기능

안녕하세요.
만나서		반갑습니다.

In [18]:
### 007  print() 함수를 사용하여 다음과 같이 출력하세요.

#### naver;kakao;sk;samsung

#### my answer : print(naver\;kakao\;sk\;samsung)

print("naver", "kakao", "samsung", sep=";")

naver;kakao;samsung

In [20]:
### 008    print() 함수를 사용하여 다음과 같이 출력하세요.

#### naver/kakao/sk/samsung

print("naver","kakao", "sk", "samsung", sep="/")

naver/kakao/sk/samsung

In [22]:
### 009    다음 코드를 수정하여 줄바꿈이 없이 출력하세요. (힌트: end='') print 함수는 두 번 사용합니다. 세미콜론 (;)은 한줄에 여러 개의 명령을 작성하기 위해 사용합니다.

#### print("first");print("second")

#### my answer : print("first", end=";") print("second")

print("first", end=""); print("second")

firstsecond

In [23]:
### 010 5/3의 결과를 화면에 출력하세요.

print(5/3)

1.6666666666666667

In [ ]:
## 02. 파이썬 변수

In [26]:
### 011. 변수 사용하기
#### 삼성전자라는 변수로 50,000원을 바인딩해보세요. 
#### 삼성전자 주식 10주를 보유하고 있을 때 총 평가금액을 출력하세요.

삼성전자 = 50000

보유주식수=10

총평가금액 = (삼성전자 * 보유주식수)



print(총평가금액)

500000

In [29]:
### 012. 변수 사용하기
####다음 표는 삼성전자의 일부 투자정보입니다. 
####변수를 사용해서 시가총액, 현재가, PER 등을 바인딩해보세요.

# 항목	값
# 시가총액	298조
# 현재가	50,000원
# PER	15.79


시가총액 = 298000000000000
현재가=50000
PER=15.79


print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [35]:
# 013 문자열 출력
# 변수 s와 t에는 각각 문자열이 바인딩 되어있습니다.

# >> s = "hello"
# >> t = "python"
# 두 변수를 이용하여 아래와 같이 출력해보세요.

# 실행 예:
# hello! python


# my answer ---
# s = "hello"
# t = "python"

# print("s", end="")!print("t")

s = "hello"
t = "python"
print(s+"!", t)

# 변수로 설정한 값에는 "" 붙일 필요가 없다.

hello! python

In [ ]:
# 014. 파이썬을 이용한 값 계산
# 아래 코드의 실행 결과를 예상해보세요.

# >> 2 + 2 * 3 

8?

In [36]:
# 015. type 함수
# type() 함수는 데이터 타입을 판별합니다. 변수 a에는 128 숫자가 바인딩돼 있어 type 함수가 int (정수)형임을 알려줍니다.

# >> a = 128
# >> print (type(a))
# <class 'int'>
# 아래 변수에 바인딩된 값의 타입을 판별해보세요.

# >> a = "132"

a = "132"

print(type(a))

<class 'str'>

In [38]:
# 016. 자열을 정수로 변환
# 문자열 '720'를 정수형으로 변환해보세요.

# >> num_str = "720"


# my answer = none


num_str = "720"  #형변환
num_int = int(num_str)

print(type(num_int))

print(num_int+1, type(num_int))

<class 'int'>
721 <class 'int'>

In [40]:
# 017. 수를 문자열 100으로 변환
# 정수 100을 문자열 '100'으로 변환해보세요.

# num = 100

num = 100 
num = str(num)

print(type(num))

<class 'str'>

In [43]:
# 018. 문자열을 실수로 변환
# 문자열 "15.79"를 실수(float) 타입으로 변환해보세요.

num = 15.79

num_fit = float(num)

print(num_fit, type(num_fit))

15.79 <class 'float'>

In [49]:
# 019. 문자열을 정수로 변환
# year라는 변수가 문자열 타입의 연도를 바인딩하고 있습니다. 
# 이를 정수로 변환한 후 최근 3년의 연도를 화면에 출력해보세요.

# year = "2020"

year = 2020
year = str(year)

print(year, type(year))


      
year = int(year)
      
print(type(year), year-1, year-2, year-3)

# 내 답도 맞음

# 정답
# year = "2020"
# print(int(year)-3)  # 2017
# print(int(year)-2)  # 2018
# print(int(year)-1)  # 2019

2020 <class 'str'>
<class 'int'> 2019 2018 2017

In [50]:
# 020. 파이썬 계산
# 에이컨이 월 48,584원에 무이자 36개월의 조건으로 
# 홈쇼핑에서 판매되고 있습니다. 
# 총 금액은 계산한 후 이를 화면에 출력해보세요. (변수사용하기)

월세=48584
무이자개월수=36

총금액=월세*무이자개월수

print(총금액)

1749024

In [53]:
# 021. letters가 바인딩하는 문자열에서 첫번째와 세번째 문자를 출력하세요.

# >> letters = 'python'

# my answer = none

lang = 'python'

print(type(lang))

print(lang[0], lang[2])

<class 'str'>
p t

In [56]:
# 022. 문자열 슬라이싱
# 자동차 번호가 다음과 같을 때 뒤에 4자리만 출력하세요.

license_plate = "24가 2210"

print(license_plate[4:8])   #-> my anwer

# 정답
print(license_plate[-4:])

2210
2210

In [60]:
# 023. 문자열 인덱싱
# 아래의 문자열에서 '홀' 만 출력하세요.

string = "홀짝홀짝홀짝"

print(string[0], string[2], string[4]) #-> 내 답 = 틀림

print(string[0::2]) # -> 정답

홀 홀 홀
홀홀홀

In [62]:
# 024. 문자열 슬라이싱
# 문자열을 거꾸로 뒤집어 출력하세요.

string = "PYTHON"

# print(string) # 내 답 -> none


print(string[::-1])    #정답, 다시 체크 해야!

print(string[::-3])

NOHTYP
NT

In [70]:
# 025. 문자열의 치환

phone_number="010-1111-2222"

#my answer = none


  #정답, 다시 체크 해야!
phone_number1=phone_number.replace("-", " ")

print(phone_number1)
      
      
      
# 파이썬 문자열에서 replace 메서드를 사용하면 
#       문자열을 일부를 치환할 수 있습니다. 
#       문자열은 수정할 수 없는 자료형이므로 기존 문자열은 
#       그대로 두고 치환된 새로운 문자열이 리턴됩니다.

010 1111 2222

In [74]:
# 026. 25번 문제의 전화번호를 아래와 같이 모두 붙여 출력하세요.

phone_number = "010-1111-2222"
phone_number1 = phone_number.replace("-", "")
print(phone_number1)

01011112222

In [83]:
# 027. 문자열 다루기
# url 에 저장된 웹 페이지 주소에서 도메인을 출력하세요.

url = "http://sharebook.kr"
print(url[17:19])  # 내 답이지만, 출제의도와 달라 틀림 / 
# 다시 한 번 보기

url_split = url.split('.')
print(url_split)
print(url_split[-1])

# 해설
# 문자열로 표현된 url에서 `.`을 기준으로 분리합니다. 
# 분리된 url 중 마지막을 인덱싱하면 도메인만 출력할 수 있습니다.

kr
['http://sharebook', 'kr']
kr

In [77]:
# 028. 문자열은 immutable
# 아래 코드의 실행 결과를 예상해보세요.4

lang = 'python'
lang[0] = 'P'
print(lang)

# 틀림, 문자열은 수정이 안됨

TypeError: 'str' object does not support item assignment

In [79]:
# 029. replace 메서드
# 아래 문자열에서 소문자 'a'를 대문자 'A'로 변경하세요.

string = 'abcdfe2a354a32a'

string = string.replace('a', 'A')
print(string)

print(type(string))

# 틀림, 정답 설명 다시 듣기

Abcdfe2A354A32A
<class 'str'>

In [81]:
# 030. replace 메서드
# 아래 코드의 실행 결과를 예상해보세요.

string = 'abcd'
string.replace('b', 'B')
print(string)

print(type(string))


# 29번 문제에서는 문자열인데도 변경이 되는데 왜 이건 안되는건지?

abcd111
<class 'str'>

In [82]:
string = 'abcd'
string = string.replace('b', 'B')
print(string)

print(type(string))

#  string이라는 변수를 이렇게 바인딩을 다른 공간에 해주면 됨

aBcd
<class 'str'>

In [86]:
# 033 문자열 곱하기
# 화면에 '-'를 80개 출력하세요.

a = "-"

print(a * 80)

# or  print("-"*80)

--------------------------------------------------------------------------------

In [88]:
# 034 문자열 곱하기
# 변수에 다음과 같은 문자열이 바인딩되어 있습니다.

t1 = 'python'
t2 = 'java'

# 변수에 문자열 더하기와 문자열 곱하기를 사용해서 
# 아래와 같이 출력해보세요.

# 실행 예:
# python java python java python java python java

print((t1+" "+t2+" ")*4)

python java python java python java python java