In [2]:
score=int(input('게임점수를 입력하시오'))

if score>=1000:
    print('고수입니다.')
else:
    print('입문자입니다.')

게임점수를 입력하시오2222
고수입니다.

In [4]:
question = int(input('당신은 성인인가요?(성인이면 1, 미성년이면 0)'))
if question == 0:
    print('당신은 미성년입니다.')
else:
    print('당신은 성인입니다.')
    marry = int(input('결혼을 하셨나요?(기혼이면 1, 미혼이면 0)'))
    if marry == 1:
        print('당신은 결혼한 성인입니다.')
    else:
        print('당신은 결혼하지 않은 성인입니다.')

당신은 성인인가요?(성인이면 1, 미성년이면 0)1
당신은 성인입니다.
결혼을 하셨나요?(기혼이면 1, 미혼이면 0)0
당신은 결혼하지 않은 성인입니다.

In [12]:

num = int(input('숫자를 입력하세요'))
if num >=1 and num <= 10:
    print('True')

숫자를 입력하세요3
True

In [3]:
age = int(input('put your age'))
if age > 10 and age <19:
    print('청소년입니다.')

put your age12
청소년입니다.

In [7]:
speed = int(input('자동차의 속도를 입력하세요.(단위 : km/h)'))

if speed >= 100:
    print('고속')
elif speed >= 60 and speed < 100:
    print('중속')
else:
    print('저속')

자동차의 속도를 입력하세요.(단위 : km/h)78
중속

In [12]:
air = int(input('미세먼지 농도를 입력하세요.'))
if air >= 76:
    print('매우 나쁨')
elif air >=36 and air < 76:
    print('나쁨')
elif air >=16 and air < 36:
    print('보통')
else:
    print('좋음')

미세먼지 농도를 입력하세요.88
매우 나쁨

In [4]:
a = int(input('한 정수를 입력하시오.'))
b = int(input('다른 정수를 입력하시오.'))

if a = b :
    print('두 값이 일치합니다.')
else:
    print('두 값이 일치하지않습니다.')

한 정수를 입력하시오.3
다른 정수를 입력하시오.44
두 값이 일치하지 않습니다.

In [13]:
for i in range(5):
    print("Hello, Python!")

Hello, Python!
Hello, Python!
Hello, Python!
Hello, Python!
Hello, Python!

In [14]:
list(range(5))

[0, 1, 2, 3, 4]

In [16]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [17]:
list(range(0,5,1))

[0, 1, 2, 3, 4]

In [ ]:
# 여기까지 230207 11:00 am

In [1]:
list(range(0,5,2))

[0, 2, 4]

In [2]:
list(range(2, 101, 2))

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100]

In [3]:
list(range(1, 101, 2))

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

In [7]:
list(range(-1, -100, -1))

[-1,
 -2,
 -3,
 -4,
 -5,
 -6,
 -7,
 -8,
 -9,
 -10,
 -11,
 -12,
 -13,
 -14,
 -15,
 -16,
 -17,
 -18,
 -19,
 -20,
 -21,
 -22,
 -23,
 -24,
 -25,
 -26,
 -27,
 -28,
 -29,
 -30,
 -31,
 -32,
 -33,
 -34,
 -35,
 -36,
 -37,
 -38,
 -39,
 -40,
 -41,
 -42,
 -43,
 -44,
 -45,
 -46,
 -47,
 -48,
 -49,
 -50,
 -51,
 -52,
 -53,
 -54,
 -55,
 -56,
 -57,
 -58,
 -59,
 -60,
 -61,
 -62,
 -63,
 -64,
 -65,
 -66,
 -67,
 -68,
 -69,
 -70,
 -71,
 -72,
 -73,
 -74,
 -75,
 -76,
 -77,
 -78,
 -79,
 -80,
 -81,
 -82,
 -83,
 -84,
 -85,
 -86,
 -87,
 -88,
 -89,
 -90,
 -91,
 -92,
 -93,
 -94,
 -95,
 -96,
 -97,
 -98,
 -99]

In [8]:
for i in range(5):
    print(i)

0
1
2
3
4

In [11]:
for i in range(5):
    print(i, end=", ")

0, 1, 2, 3, 4,

In [13]:
for i in range(0, 5):
    print(i, end='')

01234

In [16]:
for i in range(0,5):
    print(i, end=' ')
print()

0 1 2 3 4

In [17]:
for i in range(2, 5):
    print(i, end='')

234

In [18]:
s = 0

for i in range(1, 11):
    s = s + i
    
print('1에서 10까지의 합:', s)

1에서 10까지의 합: 55

In [19]:
s = 0

for i in range(1, 11):
    s = s + i
    print('i = {}, s={}'.format(i, s))
    
print('1에서 10까지의 합: ', s)

i = 1, s=1
i = 2, s=3
i = 3, s=6
i = 4, s=10
i = 5, s=15
i = 6, s=21
i = 7, s=28
i = 8, s=36
i = 9, s=45
i = 10, s=55
1에서 10까지의 합:  55

In [20]:
k = 0

for i in range(1, 101):
    k = k + i

print('1부터 100까지의 합은:', k)

1부터 100까지의 합은: 5050

In [21]:
k = 0

for i in range(2, 101, 2):
    k = k + i

print('1부터 100까지의 짝수의 합은:', k)

1부터 100까지의 짝수의 합은: 2550

In [22]:
k = 0

for i in range(1, 101, 2):
    k = k + i

print('1부터 100까지의 홀수의 합은:', k)

1부터 100까지의 홀수의 합은: 2500

In [24]:
n = int(input('합계를 구할 수를 입력하세요 : '))
s = 0

for i in range(1, n+1):
    s = s + i
    
print('1부터 {}까지의 합은 {}'.format(n, s))

합계를 구할 수를 입력하세요 : 444
1부터 444까지의 합은 98790

In [25]:
n = int(input('정수를 입력하세요 : '))
fact = 1
for i in range(1, n+1):
    fact = fact * i
    
print('{}! = {}'.format(n, fact))

정수를 입력하세요 : 99
99! = 933262154439441526816992388562667004907159682643816214685929638952175999932299156089414639761565182862536979208272237582511852109168640000000000000000000000

In [3]:


n = 11
for i in range(n) : 
    st = ''
    for j in range(i):
        st = st + ' '
    print(st + '#')

#
 #
  #
   #
    #
     #
      #
       #
        #
         #
          #

In [ ]:
# LAB 3-9

n = 7
for i in range(n) :
    st = ''
    for j in range(i):
        st = st + ' '
        
    print(